<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdglc.hzqmes.dao.ContactNoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdglc.hzqmes.po.ContactNo">
        <id column="id" property="id" />
        <result column="number_type" property="numberType" />
        <result column="item_type" property="itemType" />
        <result column="item_id" property="itemId" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, number_type, item_type, item_id, content
    </sql>


    <select id="getContactsByCustomerId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from contact_no
        where
            item_type = 'CUSTOMER' and item_id = #{customerId}
    </select>

</mapper>
