<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdglc.hzqmes.dao.CustomerAddrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdglc.hzqmes.po.CustomerAddr">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="addr_type" property="addrType" />
        <result column="address_line" property="addressLine" />
        <result column="area_id" property="areaId" />
        <result column="zip_code" property="zipCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, addr_type, address_line, area_id, zip_code
    </sql>

    <select id="getAddressByCustomerId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer_addr
        where customer_id = #{customerId}
    </select>

</mapper>
