<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdglc.hzqmes.dao.ManufactureInstructionStepsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdglc.hzqmes.po.ManufactureInstructionSteps">
        <id column="id" property="id" />
        <result column="instruction_id" property="instructionId" />
        <result column="step_code" property="stepCode" />
        <result column="step_responsible_people" property="stepResponsiblePeople" />
        <result column="planned_begin_time" property="plannedBeginTime" />
        <result column="planned_end_time" property="plannedEndTime" />
        <result column="actual_begin_time" property="actualBeginTime" />
        <result column="actual_end_time" property="actualEndTime" />
        <result column="step_status" property="stepStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_uid" property="createUid" />
        <result column="update_time" property="updateTime" />
        <result column="update_uid" property="updateUid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, instruction_id, step_code, step_responsible_people, planned_begin_time, planned_end_time, actual_begin_time, actual_end_time, step_status, create_time, create_uid, update_time, update_uid
    </sql>

</mapper>
